/*
 * style.css
 *
 * CSC309 P1
 * Winter 2023
 *
 */
#home{
    width: 90px;
    height: 90px;
    margin-top: -5px;
    /* filter: hue-rotate(-60deg); */
    margin-left: 50px;
} 

.dropdown-toggle::after {
    content: none;
}

.dropdown-toggle{
    color:black;
}
html {
    max-width: 100%;
    overflow-x: hidden;
}

/* .form-control {
    width: auto !important;
    flex-basis: 100%;
} */


.container-fluid{
    margin-right: 70px; 
}

.form-inline{
    margin-right: 400px;
}

.search-filter {
    border-radius: 25px;
    width: 40%;
}

.search-filter .form-control {
    width: 60% !important;
}

.card-img-top{
    width: 200px;
    height: 200px;
    margin-left:auto ;
    margin-right: auto;
    margin-bottom: -30px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
}
.card-body{
    margin-top:auto;
    margin-bottom: auto;
    margin-left:auto ;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

#me{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 100%;
}

#profile{
    margin-top: 110px;
}

.card-img-top {
    margin: 0;
    width: 100%;
}

.card {
    position: relative;
    margin: 1em;
    max-width: 250px;
}

.card-body {
    margin: 0;
    text-align: left;
}

.card-body p {
    margin-bottom: 0.25em;
}

main {
    padding: 1.5em;
}

.grid-container {
    display: grid;
    gap: 1em;
    grid-template-areas: 
        'main main living'
        'main main kitchen';
}

#main-img {
    grid-area: main;
}

#kitchen-img {
    grid-area: kitchen;
}

#living-img {
    grid-area: living;
}

.log-stuff{
    margin-left: auto;
    margin-right: auto;
}
.logs{
    margin: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}