/*
 * style.css
 *
 * CSC309 P1
 * Winter 2023
 *
 */
#home{
    width: 90px;
    height: 90px;
    margin-top: -5px;
    /* filter: hue-rotate(-60deg); */
    margin-left: 50px;
} 

.dropdown-toggle::after {
    content: none;
}

.dropdown-toggle{
    color:black;
}
html {
    max-width: 100%;
    overflow-x: hidden;
}

/* .form-control {
    width: auto !important;
    flex-basis: 100%;
} */


.container-fluid{
    margin-right: 70px; 
}

.form-inline{
    margin-right: 400px;
}

.search-filter {
    border-radius: 25px;
    width: 40vw;
}

.search-filter .form-control {
    width: 60% !important;
}

.card-img-top{
    width: 200px;
    height: 200px;
    margin-left:auto ;
    margin-right: auto;
    margin-bottom: -30px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
}
.card-body{
    margin-top:auto;
    margin-bottom: auto;
    margin-left:auto ;
    margin-right: auto;
    align-items: center;
    text-align: center;
}



#profile{
    margin-top: 30px;
}



.card-img-top {
    margin: 0;
    width: 100%;
}

.card {
    position: relative;
    margin: 1em;
    max-width: 250px;
}

.card-body {
    margin: 0;
    text-align: left;
}

.card-body p {
    margin-bottom: 0.25em;
}

main {
    padding: 1.5em;
}

/* .grid-container {
    display: grid;
    gap: 1em;
    grid-auto-rows: 1fr;
    grid-template-areas: 
        'main main living'
        'main main kitchen';
    
}

#main-img {
    grid-area: main;
    max-height: 450px;
    object-fit: cover;
}

#kitchen-img {
    grid-area: kitchen;
    max-height: 225px;
    object-fit: cover;
}

#living-img {
    grid-area: living;
    max-height: 225px;
    object-fit: cover;
} */

.property-main {
    margin: auto;
    width: 80vw;
}

/* .property-images-container {
    max-height: 600px;
    width: 100vw;
    height: auto;
} */

.property-image {
    object-fit: cover;
    margin: 5px;
    max-width: 100%;
    height: auto;
}

.main-img {
    width: 100%;
    height: calc(100% + 10px);
}

.mini-img {
    height: 50%;
    width: 100%
}

.log-stuff{
    margin-left: auto;
    margin-right: auto;
    max-width:600px;
}
.logs{
    margin: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.sign-up-image{
    width: 200px !important;
    height: 200px !important;
    margin-left:auto ;
    margin-right: auto;
    margin: auto;
    margin-bottom: -50px !important;
    margin-top: -50px !important;
}

.modal-title, .modal-body{
    text-align: left;
}


#me{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 100%;
    margin-right:2em;
    margin-top: 4em;
    /* text-align: left; */
}

#host {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-bottom: 0.5em;
}

/* #profile-title{
    align-self: flex-end;
} */

.text-container {
    display: block;
    align-items: center;
    margin-top:5rem;
    width: 500px;
}

/* NOT RESPOSIVE YET */
.profile {
    display: flex;
    flex: wrap;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 15px;
    
}

.cards-profile{
    margin-top: auto;
}


.profile-card{
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.profile-body{
    margin:0.5px;
}
    
/* .editable-profile{
    margin-right:25em;
} */

.rando{
    color:white;
}

#about-profile{
    margin-top: 20px !important;
    margin-bottom: 20px;
}

.profile-reviews{
    margin-left: 10rem;
    margin-top:5rem;
    display: flex;
    flex-direction: column;
    width: 70%;

}

.profile-comment, .profile-comment-edit {
    border: #bbbbbb solid 0.5px;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 5px;
}

.profile-comment p {
    margin: 0;
}

.profile-comment-edit textarea {
    width: 100%;
    height: fit-content;
}

.profile-comment-edit .row {
    margin: 0;
    column-gap:  5px;
}

.profile-comment-edit a {
    width: 80px;
}

.profile-comment .comment-date {
    font-size: small;
}


@media (max-width: 750px) {

    .cards-profile{
        display: flex;
        flex-direction: column;
    }
    .profile-card{
        width: 100%;
        max-width:390px;
    }

}


.amenities-check {
    transform: scale(120%);
}

.filter-body {
    max-height: 500px;
}

.no-reservations {
    border-radius: 15px;
    max-height: 300px;
    width: 100%;
    /* border-color: darkgray !important; */
}

.text-bg-success {
    background-color: #527141 !important;
}

.no-reservations-main {
    width: 80vw;
    margin: auto;
}

#no-reservation-img {
    /* height: 300px; */
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.margin-auto {
    margin: auto;
}

#book-property {
    border-radius: 15px;
    margin: 5em 0 0 3em !important;
    padding: 2em;
    flex-direction: column;
    height: 475px;
}

#reservation-details {
    border-radius: 15px;
    margin: 5em 0 0 3em !important;
    padding: 2em;
    flex-direction: column;
    height: 270px;
}
/* .book-input {
    border-radius: 0;
    border-top: 0;

} */

.text-bg-danger {
    background-color: #8e3838 !important;
}

#book-input-left {
    border-radius: 10px 0 0 0;
    border-right: 0;
    background-color: white !important;
}
#book-input-right {
    border-radius: 0 10px 0 0;
    background-color: white !important;
}
#book-input-bottom {
    border-top: 0;
    border-radius: 0 0 10px 10px;
    background-color: white !important;
}

.bedroom {
    border-radius: 10px;
    width: 152px;
}

.property-amenity {
    width: 50%;
    margin-bottom: 0.5em;
}

.thin-font {
    font-weight: 400;
}

.contact-button {
    width: 20%;
}

.host-response {
    background-color: rgb(231, 229, 229);
    border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 1200px) {
    .search-filter .form-control{
        /* font-size: 0.5rem !important; */
        display: None;
    }

    .property-details .row .col-8{
        width: 100%;
    }

    #book-property {
        width: 100%;
        margin: 1em 0.5em 0.5em 0.5em !important;
    }
    .contact-button {
        width: fit-content;
    }

    #reservation-details {
        width: 100%;
        margin: 1em 0.5em 0.5em 0.5em !important;
    }
}

@media only screen and (max-width: 400px) {
    #reservation-details #checkin-checkout .d-flex{
        display: flex;
        flex-wrap: wrap;
    }
    #reservation-details #checkin-checkout #book-input-left {
        width: 100%;
        border: 1px solid #dee2e6;
        border-radius: 10px 10px 0 0;
    }

    #reservation-details #checkin-checkout #book-input-right {
        width: 100%;
        border-top: 0;
        border-radius: 0;
    }
}

@media only screen and (max-width: 660px) {

    .no-reservations-main {
        width: 80vw;
        margin-left: 0.5em;
    }
    .no-reservations-main h1 {
        margin-left: 0 !important;
    }

    .no-reservations-main h3 {
        margin-left: 0 !important;
    }

    .no-reservations-main .card {
        margin-left: 0 !important;
    }

    .no-reservations {
        width: 80vw;
        margin-left: 0 !important;
    }
    /* .no-reservations .col-9 {
        display: None;
        
    } */

    /* /* .no-reservations {
        width: fit-content;
    } */
    /* #no-reservation-img {
        display: None;
    }  */
}
@media only screen and (max-width: 480px) {

    .no-reservations-main {
        width: 80vw;
        margin-left: 0.5em;
    }
    .no-reservations-main h1 {
        margin-left: 0 !important;
    }

    .no-reservations {
        width: 80vw;
        margin-left: 0 !important;
    }
    .no-reservations .col-9 {
        display: None;
        
    } 

     .no-reservations {
        padding: 0.5em !important;
        width: fit-content;
    }
    /* #no-reservation-img {
        display: None;
    } */
}
/* ============ RESERVATIONS CSS ~ Devan ============ */
#collapse-sidebar {
    max-width: 500px;
    width: fit-content;
    height: fit-content;
}

.full-collapse-list {
    max-width: 500px;
    min-width: 400px;
    padding-top: 5px;
}

#properties-mgr-title {
    text-align: left;
    align-self: center;
    padding: 0px 0px 0px 7px;
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

#sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#collapse-sidebar a {
    text-align: center;
    border-radius: 0;
}

#sidebar-header a {
    border-radius: 7px;
}

#v-bar {
    margin-left: 0.5rem;
    visibility: visible;
}

.property-mgr-wrapper {
    display: flex;
    flex-direction: row;
}

#property-info-wrapper {
    padding-left: 0.5rem;
    text-align: left;
    width: 100%;
}

#property-info-wrapper form, hr, .list-group {
    max-width: 800px;
}

#property-info-wrapper .list-group p {
    font-size: x-small;
    margin: 0;
    height: 10px;
}

#requests-manager .list-group .btn-group {
    column-gap: 2px;
}

#requests-manager .list-group span {
    margin-left: 12px;
}

.form-small-grid {
    width: 300px;
}

.form-small-grid-item {
    width: 50%;
}

.short-input {
    width: 75px;
}

.submit-btn {
    margin-top: 4px;
}

#request-custom {
    margin-top: 5px;
}

#req-custom-date-picker {
    width: 50%;
}

#custom-existing-change {
    font-size: x-small;
    height: 30px;
}

.photo-name-display {
    display: flex;
    column-gap: 5px;
}

.photo-name-display .short-input{
    width: 50px;
}

#photos {
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    
}

#photo-order {
    width: 250px;
    margin-right: 5px;
}

#photo-order input[type="file"] {
    display: none;
}

.carousel-inner img{
    width: 100%;
    height: 225px;
}

.carousel {
    width: 285px;
}

#hide-me, #hide-me-2 {
    visibility: hidden;
}

@media only screen and (max-width: 450px) {
    #property-info-wrapper .list-group li .request-card-info {
        height: 75px;
    }

    #property-info-wrapper .list-group li .request-card-info span {
        font-size: x-small;
    }
}

@media only screen and (max-width: 580px) {
    #photos {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 1030px) {

    #collapse-sidebar {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    #v-bar {
        visibility: hidden;
    }

    .property-mgr-wrapper {
        flex-direction: column;
    }

    #property-info-wrapper {
        padding-left: 0;
    }
}

/* ============ RESERVATIONS CSS ~ Devan ============ */