
.bedroom {
    border-radius: 10px;
    width: 152px;
}

.property-amenity {
    width: 50%;
    margin-bottom: 0.5em;
}

.thin-font {
    font-weight: 400;
}

.contact-button {
    width: 20%;
}

.host-response {
    background-color: rgb(231, 229, 229);
    border-radius: 0 0 10px 10px;
}

.property-main {
    margin: auto;
    width: 80vw;
}